@tailwind base;
@tailwind components;
@tailwind utilities;

#__next{
  @apply h-full;
  @apply w-full;
}

body {
  @apply h-screen;
  @apply w-screen
}

@keyframes animatePlanet {
  0% {
    transform: rotateZ(12deg);
  }
  50% {
    transform: rotateZ(40deg);
  }
  100% {
    transform: rotateZ(12deg);
  }
}